/*
 * My Songbook - Beispielanwendung der Anleitung zur Entwicklung einer Browser App
 *
 * © 2018 Dennis Schulmeister-Zimolong <dhbw@windows3.de>
 * Lizenz: Creative Commons Namensnennung 4.0 International
 *
 * Sie dürfen:
 *
 *     Teilen — das Material in jedwedem Format oder Medium vervielfältigen
 *     und weiterverbreiten
 *
 *     Bearbeiten — das Material remixen, verändern und darauf aufbauen
 *     und zwar für beliebige Zwecke, sogar kommerziell.
 *
 * Unter folgenden Bedingungen:
 *
 *     Namensnennung — Sie müssen angemessene Urheber- und Rechteangaben
 *     machen, einen Link zur Lizenz beifügen und angeben, ob Änderungen
 *     vorgenommen wurden. Diese Angaben dürfen in jeder angemessenen Art
 *     und Weise gemacht werden, allerdings nicht so, dass der Eindruck
 *     entsteht, der Lizenzgeber unterstütze gerade Sie oder Ihre Nutzung
 *     besonders.
 *
 *     Keine weiteren Einschränkungen — Sie dürfen keine zusätzlichen Klauseln
 *     oder technische Verfahren einsetzen, die anderen rechtlich irgendetwas
 *     untersagen, was die Lizenz erlaubt.
 *
 * Es werden keine Garantien gegeben und auch keine Gewähr geleistet.
 * Die Lizenz verschafft Ihnen möglicherweise nicht alle Erlaubnisse,
 * die Sie für die jeweilige Nutzung brauchen. Es können beispielsweise
 * andere Rechte wie Persönlichkeits- und Datenschutzrechte zu beachten
 * sein, die Ihre Nutzung des Materials entsprechend beschränken.
 */

 /*
  * Dieses Stylesheet darf nur Selektoren beinhalten, die mit .song-display-edit
  * beginnen. Denn wir wollen nicht, dass hier Eigenschaften aus anderen Bereichen
  * der Anwendung überschrieben werden.
  */


/*min-width: 768, min-width: 992px, min-width:1200*/
@media and (max-width: 768px){

}


.padding {
    text-align: center;
}

.detailview main {
    color: black !important;
    background-color: #B7DFDD !important;
    line-height: 1.0;
}

.run-display-edit label {
    width: 10em;
    display: block;
    float: left;
    font-size: 15pt;
    font-family: sans-serif;
}

.run-display-edit input {
    width: 10em;
    display: block;
    float: left;
    font-size: 15pt;
    font-family: sans-serif;

}

.run-display-edit textarea {
    width:400px;
    height: 5rem;
    display: block;
    float: left;
    font-size: 15pt;
    font-family: sans-serif;
}

.run-display-edit #Art {
    height: 30px;
    width: 204px;
    display: block;
    float: left;
}

.rating {
    display: inline;
    text-align: left;
    font-size: 100%;
}

.run-display-edit #labelRange {
    /*color: #3c3c3c;*/
    font-color: black !important;
    font-size: 15pt;
    /*text-align: center;*/
}

.run-display-edit #Rating {
    text-align: left;
}


.run-display-edit .hidden{
    display: none;
}

.run-display-edit #bearbeiten {
    background-color: green;
    position: absolute;
    top: 900px;
    left: 10px;
    width: 80px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #abbrechen {
    position: absolute;
    top: 900px;
    left: 10px;
    width: 80px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #loeschen {
    background-color: red;
    position: absolute;
    top: 900px;
    left: 100px;
    width: 80px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #sichern {
    position: absolute;
    top: 900px;
    left: 190px;
    width: 80px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #vorherige {
    position: absolute;
    top: 900px;
    left: 450px;
    width: 80px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #naechste {
    position: absolute;
    top: 900px;
    left: 550px;
    width: 80px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  padding: 0.0em;
}
.rating span {
  display: inline;
}
.run-display-edit .rating > span:hover:before,
.run-display-edit .rating > span:hover ~ span:before {
   content: "\2605";
}

.run-display-edit .rating {
  border: none;
  float: left;
}

.run-display-edit .rating>input {
  display: none;
}

.run-display-edit .rating>label:before {
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline;
  content: "\f005";
}

.run-display-edit .rating>label {
  color: #ddd;
  float: right;
}

.run-display-edit .rating>input:checked~label,

/* show gold star when clicked */

.run-display-edit .rating:not(:checked)>label:hover,

/* hover current star */

.run-display-edit .rating:not(:checked)>label:hover~label {
  color: #FFD700;
}


/* hover previous stars in list */

.run-display-edit .rating>input:checked+label:hover,

/* hover current star when changing rating */

.run-display-edit .rating>input:checked~label:hover,
.run-display-edit .rating>label:hover~input:checked~label,

/* lighten current selection */

.run-display-edit .rating>input:checked~label:hover~label {
  color: #FFED85;
}

.run-display-edit .full{
  width: 2.0em;
}
