/*
 * My Songbook - Beispielanwendung der Anleitung zur Entwicklung einer Browser App
 *
 * © 2018 Dennis Schulmeister-Zimolong <dhbw@windows3.de>
 * Lizenz: Creative Commons Namensnennung 4.0 International
 *
 * Sie dürfen:
 *
 *     Teilen — das Material in jedwedem Format oder Medium vervielfältigen
 *     und weiterverbreiten
 *
 *     Bearbeiten — das Material remixen, verändern und darauf aufbauen
 *     und zwar für beliebige Zwecke, sogar kommerziell.
 *
 * Unter folgenden Bedingungen:
 *
 *     Namensnennung — Sie müssen angemessene Urheber- und Rechteangaben
 *     machen, einen Link zur Lizenz beifügen und angeben, ob Änderungen
 *     vorgenommen wurden. Diese Angaben dürfen in jeder angemessenen Art
 *     und Weise gemacht werden, allerdings nicht so, dass der Eindruck
 *     entsteht, der Lizenzgeber unterstütze gerade Sie oder Ihre Nutzung
 *     besonders.
 *
 *     Keine weiteren Einschränkungen — Sie dürfen keine zusätzlichen Klauseln
 *     oder technische Verfahren einsetzen, die anderen rechtlich irgendetwas
 *     untersagen, was die Lizenz erlaubt.
 *
 * Es werden keine Garantien gegeben und auch keine Gewähr geleistet.
 * Die Lizenz verschafft Ihnen möglicherweise nicht alle Erlaubnisse,
 * die Sie für die jeweilige Nutzung brauchen. Es können beispielsweise
 * andere Rechte wie Persönlichkeits- und Datenschutzrechte zu beachten
 * sein, die Ihre Nutzung des Materials entsprechend beschränken.
 */

 /*
  * Dieses Stylesheet darf nur Selektoren beinhalten, die mit .song-display-edit
  * beginnen. Denn wir wollen nicht, dass hier Eigenschaften aus anderen Bereichen
  * der Anwendung überschrieben werden.
  */


.padding {
    text-align: center;
}

.detailview main {
    color: black !important;
    background-image: linear-gradient(to bottom, #045262, #007686, #009ca9, #00c5c9, #11eee5) !important;
    line-height: 1.0;
    display: grid;
}

.run-display-edit label {
    width: 10em;

    float: left;
    font-size: 15pt;
    font-family: sans-serif;
}

.run-display-edit input {
    width: 10em;

    float: left;
    font-size: 15pt;
    font-family: sans-serif;

}

.run-display-edit textarea {
    width:400px;
    height: 5rem;

    float: left;
    font-size: 15pt;
    font-family: sans-serif;
}


.run-display-edit select {
    font-size: 14pt;
}

.run-display-edit #Art {
    height: 30px;
    width: 204px;

    float: left;
}

.rating {

    text-align: left;
    font-size: 100%;
}


.run-display-edit .hidden{
    display: none;
}
.run-display-edit .div_bearbeiten {
    display: block;
}
.run-display-edit #loeschen {
    background-color: red;


    width: 90px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #bearbeiten {
    background-color: green;


    width: 90px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #abbrechen {

    width: 90px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #sichern {

    width: 90px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #vorherigeMobile {


    width: 90px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #naechsteMobile {
    width: 90px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #vorherige {
    display: none;
    position: relative;
    float: left;
    left: 150px;
    width: 90px;
    height: 30px;
    font-weight: bold;
}

.run-display-edit #naechste {
    display: none;
    position: relative;
    float: left;
    left: 250px;
    width: 90px;
    height: 30px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .run-display-edit #vorherigeMobile {
        display: none;
        position: relative;
        float: left;
        left: 150px;
        width: 90px;
        height: 30px;
        font-weight: bold;
    }

    .run-display-edit #naechsteMobile {
        display: none;
        position: relative;
        float: left;
        left: 250px;
        width: 90px;
        height: 30px;
        font-weight: bold;
    }

    .run-display-edit #vorherige {
        display: inline;
        position: relative;
        float: left;
        left: 150px;
        width: 90px;
        height: 30px;
        font-weight: bold;
    }

    .run-display-edit #naechste {
        display: inline;
        position: relative;
        float: left;
        left: 250px;
        width: 90px;
        height: 30px;
        font-weight: bold;
    }
}


    .run-display-edit #div_aendern {
    display: none;
    }


.run-display-edit .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  padding: 0.0em;
}
.rating span {
  display: inline;
}
.run-display-edit .rating > span:hover:before,
.run-display-edit .rating > span:hover ~ span:before {
   content: "\2605";
}

.run-display-edit .rating {
  border: none;
  display: inline;
}

.run-display-edit .rating>input {
  display: none;
}

.run-display-edit .rating>label:before {
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline;
  content: "\f005";
}

.run-display-edit .rating>label {
  color: #ddd;
  float: right;
}

.run-display-edit .rating>input:checked~label,

/* show gold star when clicked */

.run-display-edit .rating:not(:checked)>label:hover,

/* hover current star */

.run-display-edit .rating:not(:checked)>label:hover~label {
  color: #FFD700;
}


/* hover previous stars in list */

.run-display-edit .rating>input:checked+label:hover,

/* hover current star when changing rating */

.run-display-edit .rating>input:checked~label:hover,
.run-display-edit .rating>label:hover~input:checked~label,

/* lighten current selection */

.run-display-edit .rating>input:checked~label:hover~label {
  color: #FFED85;
}

.run-display-edit .full{
  width: 2.0em;
}
