/*
 * Velocity - your running companion: Website im Rahmen der Vorlesung "Webprogrammierung"
 *
 * © 2018 Ansgar Lichter, Patrick Fichtner, Toni Coric
 * Lizenz: Creative Commons Namensnennung 4.0 International
 *
 * Sie dürfen:
 *
 *     Teilen — das Material in jedwedem Format oder Medium vervielfältigen
 *     und weiterverbreiten
 *
 *     Bearbeiten — das Material remixen, verändern und darauf aufbauen
 *     und zwar für beliebige Zwecke, sogar kommerziell.
 *
 * Unter folgenden Bedingungen:
 *
 *     Namensnennung — Sie müssen angemessene Urheber- und Rechteangaben
 *     machen, einen Link zur Lizenz beifügen und angeben, ob Änderungen
 *     vorgenommen wurden. Diese Angaben dürfen in jeder angemessenen Art
 *     und Weise gemacht werden, allerdings nicht so, dass der Eindruck
 *     entsteht, der Lizenzgeber unterstütze gerade Sie oder Ihre Nutzung
 *     besonders.
 *
 *     Keine weiteren Einschränkungen — Sie dürfen keine zusätzlichen Klauseln
 *     oder technische Verfahren einsetzen, die anderen rechtlich irgendetwas
 *     untersagen, was die Lizenz erlaubt.
 *
 * Es werden keine Garantien gegeben und auch keine Gewähr geleistet.
 * Die Lizenz verschafft Ihnen möglicherweise nicht alle Erlaubnisse,
 * die Sie für die jeweilige Nutzung brauchen. Es können beispielsweise
 * andere Rechte wie Persönlichkeits- und Datenschutzrechte zu beachten
 * sein, die Ihre Nutzung des Materials entsprechend beschränken.
 */

/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    line-height: 1.6;
    color: var(--font-color);
    /*background-color: #B7DFDD;*/
    background-image: linear-gradient(to bottom, #045262, #007686, #009ca9, #00c5c9, #11eee5);
    /*-webkit-gradient(linear, 18% 0%, 0% 100%, from(#38A4BA), to(#081624), color-stop(.9,#152F33));*/
}

/*
 * Größere Schrift auf größeren Bildschirmen
 * Vgl. https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
 */
@media screen and (min-width: 768px) {
    body,
    input {
        font-size: 12pt;
    }
}

@media screen and (min-width: 992px) {
    body,
    input {
        font-size: 13pt;
    }
}

@media screen and (min-width: 1200px) {
    body,
    input {
        font-size: 14pt;
    }
}

/*
 * Flächendeckender Seitenhintergrund auf großen Bildschirmen
 */

@media (min-width: 85em) {
    /* Hintergrundbild hinter dem Hauptbereich der App */
    html {
        /* https://pixabay.com/de/computer-notebook-kaffee-820281/ */
        /*backround-image: url(background.jpg);*/
        background-color: white;
        /*background-attachment: fixed;
        background-size: cover;
        background-position: center;*/
    }

    /* Hauptbereich der App vergrößern */
    body {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    body > * {
        flex: 1;
    }
}

/*
 * Häufig benötigte Hilfsklassen
 */
.hidden {
    display: none;
}

.padding {
    padding: 0.5rem;
}
