/*
 * My Songbook - Beispielanwendung der Anleitung zur Entwicklung einer Browser App
 *
 * © 2018 Dennis Schulmeister-Zimolong <dhbw@windows3.de>
 * Lizenz: Creative Commons Namensnennung 4.0 International
 *
 * Sie dürfen:
 *
 *     Teilen — das Material in jedwedem Format oder Medium vervielfältigen
 *     und weiterverbreiten
 *
 *     Bearbeiten — das Material remixen, verändern und darauf aufbauen
 *     und zwar für beliebige Zwecke, sogar kommerziell.
 *
 * Unter folgenden Bedingungen:
 *
 *     Namensnennung — Sie müssen angemessene Urheber- und Rechteangaben
 *     machen, einen Link zur Lizenz beifügen und angeben, ob Änderungen
 *     vorgenommen wurden. Diese Angaben dürfen in jeder angemessenen Art
 *     und Weise gemacht werden, allerdings nicht so, dass der Eindruck
 *     entsteht, der Lizenzgeber unterstütze gerade Sie oder Ihre Nutzung
 *     besonders.
 *
 *     Keine weiteren Einschränkungen — Sie dürfen keine zusätzlichen Klauseln
 *     oder technische Verfahren einsetzen, die anderen rechtlich irgendetwas
 *     untersagen, was die Lizenz erlaubt.
 *
 * Es werden keine Garantien gegeben und auch keine Gewähr geleistet.
 * Die Lizenz verschafft Ihnen möglicherweise nicht alle Erlaubnisse,
 * die Sie für die jeweilige Nutzung brauchen. Es können beispielsweise
 * andere Rechte wie Persönlichkeits- und Datenschutzrechte zu beachten
 * sein, die Ihre Nutzung des Materials entsprechend beschränken.
 */

/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */
html {
    --font-color:                     black;
    --highlight-background-color:     rgba(235, 235, 235, 1.0);

    --header-normal-background-color: rgba(017,111,159, 1.0);
    --header-normal-font-color:       rgba(255,255,255, 0.8);
    --header-active-background-color: rgba(255,255,255, 0.2);
    --header-active-font-color:       rgba(255,255,255, 0.9);
}
