/*
 * Velocity - your running companion: Website im Rahmen der Vorlesung "Webprogrammierung"
 *
 * © 2018 Ansgar Lichter, Patrick Fichtner, Toni Coric
 * Lizenz: Creative Commons Namensnennung 4.0 International
 *
 * Sie dürfen:
 *
 *     Teilen — das Material in jedwedem Format oder Medium vervielfältigen
 *     und weiterverbreiten
 *
 *     Bearbeiten — das Material remixen, verändern und darauf aufbauen
 *     und zwar für beliebige Zwecke, sogar kommerziell.
 *
 * Unter folgenden Bedingungen:
 *
 *     Namensnennung — Sie müssen angemessene Urheber- und Rechteangaben
 *     machen, einen Link zur Lizenz beifügen und angeben, ob Änderungen
 *     vorgenommen wurden. Diese Angaben dürfen in jeder angemessenen Art
 *     und Weise gemacht werden, allerdings nicht so, dass der Eindruck
 *     entsteht, der Lizenzgeber unterstütze gerade Sie oder Ihre Nutzung
 *     besonders.
 *
 *     Keine weiteren Einschränkungen — Sie dürfen keine zusätzlichen Klauseln
 *     oder technische Verfahren einsetzen, die anderen rechtlich irgendetwas
 *     untersagen, was die Lizenz erlaubt.
 *
 * Es werden keine Garantien gegeben und auch keine Gewähr geleistet.
 * Die Lizenz verschafft Ihnen möglicherweise nicht alle Erlaubnisse,
 * die Sie für die jeweilige Nutzung brauchen. Es können beispielsweise
 * andere Rechte wie Persönlichkeits- und Datenschutzrechte zu beachten
 * sein, die Ihre Nutzung des Materials entsprechend beschränken.
 */

 /*
  * Dieses Stylesheet darf nur Selektoren beinhalten, die mit .song-display-edit
  * beginnen. Denn wir wollen nicht, dass hier Eigenschaften aus anderen Bereichen
  * der Anwendung überschrieben werden.
  */
.run-new main {
    color: black !important;
    /*background-color: #B7DFDD !important;*/
    background-image: linear-gradient(to bottom, #045262, #007686, #009ca9, #00c5c9, #11eee5);
    line-height: 1.0;
}

.run-new label {
    text-align: center;
    width: 10em;
    display: block;
    float: left;
    font-size: 15pt;
    font-family: sans-serif;
}

.run-new input {
    width: 10em;
    display: block;
    float: left;
    font-size: 15pt;
    font-family: sans-serif;

}

.run-new .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  padding: 0.0em;
}
.rating span {
  display: inline;
}
.run-new .rating > span:hover:before,
.run-new .rating > span:hover ~ span:before {
   content: "\2605";
}

.run-new .rating {
  border: none;
  float: left;
}

.run-new .rating>input {
  display: none;
}

.run-new .rating>label:before {
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline;
  content: "\f005";
}

.run-new .rating>label {
  color: #ddd;
  float: right;
}

.run-new .rating>input:checked~label,

/* show gold star when clicked */

.run-new .rating:not(:checked)>label:hover,

/* hover current star */

.run-new .rating:not(:checked)>label:hover~label {
  color: #FFD700;
}


/* hover previous stars in list */

.run-new .rating>input:checked+label:hover,

/* hover current star when changing rating */

.run-new .rating>input:checked~label:hover,
.run-new .rating>label:hover~input:checked~label,

/* lighten current selection */

.run-new .rating>input:checked~label:hover~label {
  color: #FFED85;
}

.run-new textarea {
    width:400px;
    height: 5rem;
    display: block;
    float: left;
    font-size: 15pt;
    font-family: sans-serif;
}


.run-new #abbrechen {
  position: absolute;
  top: 900px;
  left: 75px;
  width: 90px;
  height: 30px;
  font-weight: bold;
}

.run-new #sichern {
  position: absolute;
  top: 900px;
  left: 190px;
  width: 90px;
  height: 30px;
  font-weight: bold;
}
.run-new .full{
  width: 2.0em;
}
